<template name="imageUploader">
    <h1>Uploaded Pictures</h1>
    {{#each images}}
        <div>
          <div>
          thumbnail:
            <a href="{{images_thumb_res_url}}"><img src="{{images_thumb_res_url}}" alt="thumbnail"></a>
          </div>
          <div>
          full image:  <a href="{{images_full_res_url}}"><img src="{{images_full_res_url}}" alt="full image"></a>
            <input type="button" value="remove" class="btnRemove"/>
        </div>
      </div>
    {{else}}
        No pictures uploaded yet.
    {{/each}}
    <h3>Upload a picture:</h3>
    <input name="files" id="files" type="file" multiple>
    <br>
</template>
